// Import all of Bootstrap's CSS
//@import "bootstrap/scss/bootstrap";
//@import 'bootstrap-icons/font/bootstrap-icons';
@import "aos/src/sass/aos";

.swiper {
  width: 600px;
  height: 300px;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}